.app {
  text-align: left;
  background-color: #FFFFFF;
}

.intro__h {
  font-size: 2em;
}

.staticErrorMessage {
  color: red;
  position: absolute;
  bottom: 0;
  left: 4rem;
}

.mainContent {
  margin: 0rem 1.6rem;
  min-width: 270px;
}

.kFormContainer {
  max-width: 26rem;
  margin: 0 auto;
}

.kTextCenter {
  text-align: center;
}

.addItemButtonContainer {
  right: 1.5rem;
  bottom: 1.5rem;
  position: fixed;
  display: flex;
}

.progressLinear {
  top: 4rem;
}

.contactsPager {
  margin: 1.2em 0;
  line-height: 1em;
}

.loadMoreButton {
  display: block;
  width: 100%;
  margin-top: 1em;
}

.contactsPage {
  padding-bottom: 40px;
}

/* Contacts table button column */
.contactsTable__btnCol {
  white-space: nowrap;
}

.contactsTable__link {
  position: relative;
  color: initial;
  text-decoration: none;
  width: 100%;
  display: inline-block;
}

.contactsTable__link:hover,
.contactsTable__link:hover {
  color: initial;
}
