.App {
  text-align: left;
  background-color: #cccccc;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 36px;
}

.App-header {
  height: 50px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-header ul.App-nav {
  list-style: none;
  margin: 1em 0;
}

.App-header ul.App-nav li {
  display: inline-block;
  margin: 0 1em;
}

.App-intro {
  font-size: large;
}

.k-form-container {
  max-width: 11rem;
  margin: 0 auto;
}

.k-text-center {
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
