.app {
  text-align: left;
  background-color: #cccccc;
}

.logo {
  animation: AppLogoSpin infinite 20s linear;
  height: 36px;
}

.header {
  height: 50px;
  padding: 20px;
  color: white;
  text-align: center;
}

.intro {
  font-size: large;
}

.kFormContainer {
  max-width: 26rem;
  margin: 0 auto;
}

.kTextCenter {
  text-align: center;
}

@keyframes AppLogoSpin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
